<h1>{{title}}</h1>
<app-heroes></app-heroes> <!--heroes 컴포넌트.ts에 지정된 컴포넌트의 셀렉터-->

<!--4/22 : 프로젝트 생성

  cli까지 설치 방법은 외부 txt참조

  angular 워크스페이스 생성(터미널) : ng new 워크스페이스명(프로젝트 집합)
  
  실시간 미리보기(터미널) : ng serve --open
  >> 첫 화면 : application cell : app이란 컴포넌트로 이뤄짐 (지금 이거 입력하는 파트)

  컴포넌트 : angular애플리케이션 기본 구성요소
  컴포넌트 기본 3구성요소
  class(angular는 js가 아니라 기본 ts로 운영)
  template(화면에 보이는 HTML)
  css(이 컴포넌트에서만 작용하는 css)

  {{}} : 문자열 바인딩(vue랑 같네) : 컴포넌트 클래스의 data를 템플릿(HTML)로 박을 수 있음

  src의 styles.css : 앱 스타일 일관적용을 위한 전역 스타일 적용 (CLI로 생성시 자동 생성)



-->