<!--{{hero}}-->
<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<div>
    <label>name:
        <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
</div> -->
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <!--(click)="onSelect(hero)" [class.selected]="hero === selectedHero"> -->
        <!--라우팅 링크를 연결하는걸로 재설정-->
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>
<!-- <div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{ selectedHero.id }}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name">
        </label>
    </div>
</div> : detail 컴포넌트로 기능 분할-->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<!--4/24 : hero 프로퍼티에 바인딩하여 데이터 전달 >> @Input()데코레이터로 입력 프로퍼티로 선언
         : Heros컴포넌트(상위Com)의 selectedHero 프로퍼티가
           Detail컴포넌트(하위Com)의 hero프로퍼티로 단방향 바인딩(선택하여 결정하는건 상위에서만) 됨-->

<!-- 4/22 히어로 에디터

    component 생성 : 프로젝트 터미널에서 ng generate component 컴포넌트명  으로 생성 가능
    (물론 src/app 에 하위 디렉터리로 생성됨)

    |(파이프) : 문자열 바인딩 시 문자열 형식 지정
    uppercase : 딱봐도 대문자화 / currency : 딱봐도 통화형식

    히어로 정보 수정 폼
    <input> 텍스트박스에서 수정하는 즉시 화면에 보임
    = name 프로퍼티가 화면에 표시됨과 동시에 업데이트 되야함
    = 데이터가 컴포넌트 클래스(ts)와 템플릿(html) 사이 동시에 왔다갔다해야함
    >> 양방향 바인딩처리

    [] : angular 속성 바인딩(vue는 :속성)
    [()] : angular 양방향 바인딩
-->

<!-- 4/23 히어로 목록 표시하기

    외부 데이터 import export하기는 vue와 유사

    반복이 필요한 템플릿 요소는 태그 안에(호스트 엘리먼트) 직접 for문사용 가능
    vue의 v-for="(a,i) of list" :key="i" 와 달리
    angular는 *ngFor="let a of list"로 key를 처리할 필요가 없다 (list는 해당 컴포넌트 클래스에 선언됨)

    컴포넌트 css는 전역 css보다 우선순위가 높다
    CLI로 컴포넌트 생성시 컴포넌트css를 만들어줌과 동시에
    컴포넌트 클래스 styleUrls: ['./heroes.component.css']에 배열로 넣어준다
    (@Component 메타데이터에 지정된 스타일, 스타일시트는  해당 컴포넌트에만 영향)

    (click) (vue는 :click 혹은 vue-on:click) : 이벤트 바인딩 > angular가 이벤트를 감지해서 해당 표현식을 실행

    selectedHero는 onSelect이벤트에 의해 목록에서 hero data가 set되어야함
    따라서 선택되지 않았을 때는 상세목록에서 undefinded가 되어 오류가 발생
    따라서 *ngIf=""(vue는 v-if="")를 통해 조건문으로 처리한다. (조건 충족시에만 ngIf가 DOM에 해당 부분 추가)

    angular의 클래스 바인딩(프로퍼티 바인딩처럼 [])을 이용하면 특정 조건에 따른
    css클래스 추가제거 가능
    [class.css클래스지정자명]=""로 처리
    위의 경우 css의 selected 클래스 지정자를 hero===selectedHero (컴포넌트에서 selectedHero = hero로 대입됨)
    의 경우만 추가하고 아닐때는 제거시킴

-->